body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  height: 100vh;

}

.recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.dish {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    min-height: 56px;
  }

  img {
    align-self: baseline;
  }
}

@media only screen and (max-width: 1000px) {
  .recipes {
    grid-template-columns: repeat(2, 1fr)
  }
}
